body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo .logo-text {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo .logo-text:hover,
.logo .logo-text:focus {
  color: #404bbf;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-style: normal;
}
/* address */
.contacts {
  margin-left: auto;
  font-style: normal;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* HERO */
.hero {
  display: block;
  background-color: #2e2f42;
}

.hero-title {
  padding-top: 188px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-right: auto;
}

.button {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 188px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/* FEATURES-S2 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* OUR TEAM-S3 */
.section-our-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-item-card {
  background-color: #ffffff;
}

.team-item-card .header-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-item-card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  height: 380px;
  gap: 24px;
}

/* OUR PORTFOLIO-S4 */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.port-card {
  display: flex;
  flex-direction: column;
  height: 420px;
}
.port-card .card-title {
  margin-top: 32px;
  margin-bottom: 8px;
}
.port-card .text {
  margin-top: 0;
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-text-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
