body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo .name {
  color: #4d5ae5;
}

li {
  list-style-type: none;
}

.nav .link {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
}

.nav .link:hover,
.nav .link:focus {
  color: #4d5ae5;
}

.address .link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address .link:hover,
.address .link:focus {
  color: #4d5ae5;
}

.button {
  background-color: #4d5ae5;
}
div {
  background-color: #f4f4fd;
}
